<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.FacilityInfoMapper">

    <select id="selectListByApartmentId" resultType="com.atguigu.lease.model.entity.FacilityInfo">
        select id, type, name, icon
        from facility_info
        where is_deleted = 0
        and id in (
                select facility_id
                from apartment_facility
                where is_deleted = 0
                and apartment_id = #{id}
            )
    </select>

    <!--通过中间表查询root_id下的facility_info信息-->
    <select id="selectListByRoomId" resultType="com.atguigu.lease.model.entity.FacilityInfo">
        select id, type, name, icon
        from facility_info fi
        where fi.is_deleted = 0
        and id in (
                select facility_id
                from room_facility rf
                where rf.is_deleted = 0
                and rf.room_id = #{id}
            )
    </select>
</mapper>
